@import "src/styles/variables";
@import "src/styles/mixins";

.loaderWrapper {
  width: 100%;
  @include flex(center);
}

.loader {
  border: 1.6rem solid $borerLoaderColor;
  border-radius: 50%;
  border-top: 1.6rem solid $activeColor;
  width: 6rem;
  height: 6rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}