.todoItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.todoTitle {
  font-size: 20px;
  margin-bottom: 1rem;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  width: 110px;
  cursor: pointer;
}