  @import "src/styles/variables";
  @import "src/styles/mixins";

  .todoItem {
    @include flex(space-between, center);
    flex-direction: column;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
  }

  .todoTitle {
    font-size: $mediumFontSize;
    margin-bottom: 1rem;
  }

  .completed {
    text-decoration: line-through;
    color: $completedColor;
  }

  .actions {
    @include flex(center, null, 1rem);
  }