@import "src/styles/variables";
@import "src/styles/mixins";

.todoList {
  max-width: 40rem;
  margin: 0 auto;
  border: 1px solid $additionalBorderColor;
  border-radius: 4px;
  padding: 2rem;
}

.todoInput {
  @include flex(null, null, 1rem);
  margin-bottom: 2rem;
}

input {
  flex-grow: 1;
  padding: 1rem;
  border: 1px solid $additionalBorderColor;
  border-radius: .4rem;
}

button {
  padding: 1rem 2rem;
  border: none;
  background-color: $activeColor;
  color: $additionalTextColor;
  border-radius: 4px;
  cursor: pointer;
}