// colors
$additionalTextColor: white;
$borerLoaderColor: #f3f3f3;
$activeColor: #3498db;
$completedColor: grey;
$additionalBorderColor: #ccc;
$buttonColor: #1a1a1a;

//fonts
$smallFontSize: 1.4rem;
$mediumFontSize: 2rem;
$bigFontSize: 2rem;